@model ClassSchedulingSystem.Models.Scheduler

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Scheduler</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Course.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Room.Seats)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Room.Seats)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Teacher.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Teacher.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DayWeek)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DayWeek)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
